include ../includes/common/base/base.jade
body
	.pks-wrapper
		main.pks-main
			.pks-main__box
				h1
					span 画像です
			.pks-main__box
				h2 この春、Pakussoから、新しいパクリサイトが生まれます
				p アプリをリリース致しました。
				.pks-main__sns
				.pks-main__download--appStore
	footer.pks-footer
		.pks-footer
			small Copyright © 2016 Pakusso. All Rights Reserved.
			