include ../includes/common/base/base.jade
body
	.pks-container
		.pks-wrapper
			main.pks-main
				.pks-main__box
					h1.pks-main__box-title.pks-main__box-title--h1 Pakusso
				.pks-main__box
					h2.pks--typography--text-center この春、Pakussoから、新しいパクリサイトが生まれます
					p.pks--typography--text-center アプリをリリース致しました。
					.pks-main__sns
					.pks-main__download.pks--typography--text-center
						a.pks-main__download-link.pks-main__download-link--appStore(href="" target="_blank") AppStoreからダウンロード
			footer.pks-footer
				.pks-footer__box
					small Copyright © 2016 Pakusso. All Rights Reserved.
			