include ../includes/common/base/base.jade
body
	.pks-container
		.pks-wrapper
			main.pks-main
				.pks-main__box
					h1.pks-main__box-title.pks-main__box-title--h1 画像です
				.pks-main__box
					h2 この春、Pakussoから、新しいパクリサイトが生まれます
					p アプリをリリース致しました。aass
					.pks-main__sns
					.pks-main__download--appStore
			footer.pks-footer
				.pks-footer__box
					small Copyright © 2016 Pakusso. All Rights Reserved.
			