body {
	background: linear-gradient(to bottom, #5CACD1 0%, #247ECC 100%);
}

.pks--typography--text-center {
	text-align: center;
}

.pks-container {
	width: 100%;
	background: #ccc;
}

.pks-wrapper {
	width: 1180px;
	margin: 30px auto 0;
	
}

.pks-main {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;

	&__box {
		flex-grow: 1;
		background: #ffd;
		border: 1px solid #000;

		&-title {
			text-indent: -9999px;
			&--h1 {
				width: 320px;
    			height: 632px;
				background-image: url("/images/device.png");
				background-size: 320px 632px;
				background-position: center;
				margin: 0 auto;
			}
		}
	}

	&__sns {

	}

	&__download {
		width: 100%;

		&-link {
			display: inline-block;
			text-indent: -9999px;

			&--appStore {
				width: 200px;
				height: 60px;
				margin: 0 auto;
				background-image: url("/images/appStore.png");
				background-size: 200px 60px;
				background-repeat: no-repeat;
				background-position: center;
			}

			&--googlePlay {
				// coming soon
			}
		}
		
	}
}

.pks-footer {
	&__box {
		small {

		}
	}
}