body {
	background: linear-gradient(to bottom, #5CACD1 0%, #247ECC 100%);
}

html {
	
    

    @media screen and (min-width: 769px) {
		min-height: 766px;
		height: 100%;
	}
}

.pks--typography {
	&--body {
		&-1 {
			width: 320px;
			height: 632px;
			background-image: url("/images/device.png");
			background-size: 320px 632px;
			background-position: center;
			margin: 0 auto;
		}

		&-2 {
			color: #fff;
		}

		&-3 {
			color: #fff;
		}

	}

	&--text {
		&-indent {
			text-indent: -9999px;
		}

		&-center {
			text-align: center;
		}
	}
}

.pks-container {
	width: 100%;
}

.pks-wrapper {
	
	max-width: 1180px;
	margin: 30px auto 0;

	@media screen and (min-width: 769px) {
		// width: 1180px;
	}
}

.pks-main {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;

	@media screen and (min-width: 769px) {
		flex-direction: row;
	}

	&__box {
		flex-grow: 1;
	}

	&__sns {
		&--twitter {
			margin-bottom: 10px;
		}

		&--fb {
			margin-bottom: 40px;
		}
	}

	&__download {
		width: 100%;
		margin-bottom: 40px;
		@media screen and (min-width: 769px) {
			
		}

		&-link {
			display: inline-block;

			&--appStore {
				width: 200px;
				height: 60px;
				margin: 0 auto;
				background-image: url("/images/appStore.png");
				background-size: 200px 60px;
				background-repeat: no-repeat;
				background-position: center;
			}

			&--googlePlay {
				// coming soon
			}
		}
		
	}
}

.pks-footer {
	&__box {
		small {
			color: #fff;
		}
	}
}