body {
  background: -webkit-linear-gradient(top, #5CACD1 0%, #247ECC 100%);
  background: linear-gradient(to bottom, #5CACD1 0%, #247ECC 100%);
}

.pks--typography--body-1 {
  width: 320px;
  height: 632px;
  background-image: url("/images/device.png");
  background-size: 320px 632px;
  background-position: center;
  margin: 0 auto;
}
.pks--typography--body-2 {
  color: #fff;
}
.pks--typography--body-3 {
  color: #fff;
}
.pks--typography--text-indent {
  text-indent: -9999px;
}
.pks--typography--text-center {
  text-align: center;
}

.pks-container {
  width: 100%;
}

.pks-wrapper {
  width: 1180px;
  margin: 30px auto 0;
}

.pks-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.pks-main__box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.pks-main__download {
  width: 100%;
}
.pks-main__download-link {
  display: inline-block;
}
.pks-main__download-link--appStore {
  width: 200px;
  height: 60px;
  margin: 0 auto;
  background-image: url("/images/appStore.png");
  background-size: 200px 60px;
  background-repeat: no-repeat;
  background-position: center;
}
