body {
  background: -webkit-linear-gradient(top, #5CACD1 0%, #247ECC 100%);
  background: linear-gradient(to bottom, #5CACD1 0%, #247ECC 100%);
}

.pks-container {
  width: 100%;
  background: #ccc;
}

.pks-wrapper {
  width: 1180px;
  margin: 30px auto 0;
}

.pks-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.pks-main__box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #ffd;
  border: 1px solid #000;
}
.pks-main__box-title {
  text-indent: -9999px;
}
.pks-main__box-title--h1 {
  width: 320px;
  height: 632px;
  background-image: url("/images/device.png");
  background-size: 320px 632px;
  background-position: center;
  margin: 0 auto;
}
