head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport",content="width=device-width, initial-scale=1")
	meta(name="description",content="アレみたいなアプリティザーサイトです。")
	meta(name="author",content="")
	meta(property="og:title" content="Pakusso")
	meta(property="og:type" content="article")
	meta(property="og:url" content="Pakusso")
	meta(property="og:image" content="https://raw.githubusercontent.com/naoyashiga/Pakusso/gh-pages/screenshot.png")
	meta(property="og:site_name" content="Pakusso")
	meta(property="og:title" content="Pakusso")
	meta(property="og:description" content="アレみたいなアプリティザーサイトです。")
	title Pakusso